html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 150%;
  }
}
